* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

header img {
    width: 250px;
}

header .acesso {
    width: 100px;
    height: 100px;
    background: green;
}

main {
    display: flex;
    flex-direction: row;
}

aside {
    padding: 5px;
    width: 200px;
}

section {
    background: yellow;
    padding: 5px;
    width: 100%;
}

footer {
    background: green;
    padding: 5px;
}