* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    background: silver;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: row;
}

aside {
    background: blue;
    padding: 20px;
    width: 200px;
}

section {
    background: yellow;
    padding: 20px;
    width: 100%;
}

footer {
    background: green;
    padding: 20px;
}