* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: verdana;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid #009536;
}

header img {
    width: 250px;
}

header .acesso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: green;
    border-radius: 50%;
}

header .acesso a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

main {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

aside {
    padding: 5px;
    width: 200px;
}

section {
<<<<<<< HEAD
    /* background: yellow; */
=======
    background: white;
>>>>>>> dd77c2d4e50c8d55d8b49b04d5c41b36caec61f1
    padding: 5px;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: green;
    padding: 5px;
}