* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

section {
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    color: #009536;
}

.titulo_painel {
    border-bottom: 2px solid #009536;
    padding: 10px;
    margin-bottom: 10px;
}

.botao_painel {
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    min-width: 200px;
    transition: 0.3s ease;
}

.botao_painel:hover {
    color: #009536;
    transform: scale(1.1);
}

.btn_adicionar {
    padding: 10px;
    background-color: #009536;
    color: white;
    border-radius: 5px;
    border:none;
    outline: none;
    font-size: 15px;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn_adicionar:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    transform: scale(1.1);
}

.informacoes_painel {
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid #009536;
}

.titulo {
    background-color: #009536;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.dados {
    transition: 0.3s ease;
    border-bottom: 1px solid black;
}

.dados:hover {
    background-color: rgba(0, 0, 0, .2);
    /* color: white; */
}

.dado {
    padding: 5px 10px;
}

.dado i {
    transition: 0.3s ease;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.dado i:hover {
    background-color: #009536;
    color: white;
}

.painelLabel {
    font-size: 10px;
    padding-left: 10px;
    color: gray;
}