@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: verdana;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid #009536;
}

header img {
    width: 250px;
}

header .acesso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #009536;
    border-radius: 50%;
}

header .acesso a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

main {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

aside {
    padding: 5px;
    width: 200px;
}

section {
    /* background: yellow; */
    padding: 5px;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #009536;
    padding: 5px;
}